


.card-title {
  font-size: 18px !important;
  font-weight: 700 !important;
  text-align: left;
}
@media only screen and (min-width: 600px) {
  .email {
    font-size: 14px;
  }
}
@media only screen and (max-width: 766px) {
  .email {
    font-size: 20px;
  }
  .card-title {
    font-size: 20px !important;
    font-weight: 700 !important;
  }
}
@media only screen and (max-width: 1200px) {
  .email {
    font-size: 14px;
  }
}
@media only screen and (min-width: 601px) and (max-width:765px) {
    .email {
      font-size: 14px;
    }
    .container{
        max-width: 650px;
    }
  }
@media only screen and (min-width: 1201px) and (max-width:1400px) {
  .email {
    font-size: 13px;
  }
  .card-title {
    font-size: 20px !important;
    font-weight: 700 !important;
  }
  .container{
    max-width: 1200px;
}
}

.infoStatus {
  top: 10px;
  right: 20px;
  font-size: 20px;
  z-index: 1000;
}