header {
    background-color:#f8f9fa !important;
    width: 100%;
    color: black;
    margin-bottom: 20px;

}
.header-link {
    text-decoration: none;
    color: inherit;   
}

.candidatesBtn{
    border:2px solid white;
    &:focus{
        background-color: #087EA4;
    }
    &:hover{
        background-color: #087EA4;
        border:2px solid white;
        a{
            color: white;
        }
    }
    a{
        color: white;
    }
}
